<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</head>

<body class="container" >
  <div class="row">
   <nav class=" navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="./../index.html">
          <img src="./../recursos/img/logotipos/LogoRotterdamBlanco.png" alt="logo" style="width: 80px;"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./../index.html">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ROTTERDAM 2021
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">La ciudad</a>
                <a class="dropdown-item" href="#">El escenario</a>
                <a class="dropdown-item" href="#">Actividades</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">COMPRA TU ENTRADA</a>
              </div>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="./listado.html">Participantes</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" href="#">HISTORIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PRENSA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./formulario.html">CONTACTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./reloj.html">El Reloj</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TIENDA</a>
          </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>

    <div class="breadcrumbs">
      <a href="./../index.html"> > Home > &nbsp;</a>
      <a href="./listado.html"> Participantes > &nbsp;</a>
      <a href="./detalle.html"> España</a>
    </div>

    <section >

      <main class="row detalle">

            <div class="col-12 col-md-12 col-lg-6 p-0" >
                  <div class="row">
                        <header class="col-11 representante">
                              <img src="./../recursos/img/paises/corazones/spain.svg" alt="">
                              <h2>España: Blas Cantó</h2>
                        </header>
                        <img class="col-12  d-lg-none artistaDetalleFoto" src="./../recursos/img/artistas/spain_Singer.jpeg">
                        <p class="col-12 text-justify">Blas Cantó Moreno (Ricote, Región de Murcia; 26 de octubre de 1991) es un artista musical español conocido por ser integrante vocalista del grupo Auryn y ser el ganador de la quinta edición del concurso de televisión español Tu cara me suena. Fue elegido por selección interna como representante de España en el Festival de Eurovisión, que se habría celebrado entre el 12, el 14 y el 16 de mayo de 2020 en la ciudad neerlandesa de Róterdam1​ con la canción «Universo». Este se canceló a causa de la pandemia de COVID-19,2​ pero participará finalmente en Eurovisión 2021 con la canción «Voy a Quedarme».</p>
                        <iframe class="col-12" height="250" src="./../recursos/video/VideoClip.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <audio class="col-12 d-lg-none"  controls="" src="./../recursos/songs/spain.mp3" style="display: block;"></audio>
                        <p class="col-11 cancion">CANCION: &nbsp;Universo</p>
                  </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 p-0 d-none d-lg-block grupoAudioFoto " >
                  <div class="row ">
                        <audio class="col-12"  controls="" src="./../recursos/songs/spain.mp3" style="display: block;"></audio>
                        <img class=" col-12 artistaDetalleFoto" src="./../recursos/img/artistas/spain_Singer.jpeg">
                        <div class="col-12 etiquetas">
                              <p>Etiquetas relacionadas:</p>
                              <button>#Spain</button>
                              <button>#BigFive</button>
                              <button>#GranFinal</button>
                        </div>
                  </div>
            </div>

      </main>
 




    </section>

    <footer class="footerDesktop">
            <a href="./../index.html">HOME</a>
            <a href="">Rotterdam 2021</a>
            <a href="">Política-web</a>
            <img class="footerLogo" src="./../recursos/img/logotipos/Logo_negro.png" alt="">
            <a href="./formulario.html">CONTACTO</a>  
      <div >
          <img src="./../recursos/img/iconos/social_facebook.ico" alt="">
          <img src="./../recursos/img/iconos/social_instagram.ico" alt="">
          <img src="./../recursos/img/iconos/social_Twitter.ico" alt="">
          <img src="./../recursos/img/iconos/social_youtube.ico" alt="">
          <img src="./../recursos/img/iconos/social_googleplus.ico" alt="">
      </div>
      

  </footer>




      <link rel="stylesheet" href="ViewsStyle/viewsStyle.css">
</body>


</html>