<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</head>

<body class="container" >
  <div class="row">
   <nav class=" navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="./../index.html">
          <img src="./../recursos/img/logotipos/LogoRotterdamBlanco.png" alt="logo" style="width: 80px;"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./../index.html">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ROTTERDAM 2021
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">La ciudad</a>
                <a class="dropdown-item" href="#">El escenario</a>
                <a class="dropdown-item" href="#">Actividades</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">COMPRA TU ENTRADA</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./listado.html">Participantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">HISTORIA DE EUROVISIÓN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PRENSA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./formulario.html">CONTACTO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./reloj.html">El Reloj</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TIENDA</a>
          </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>

    <div class="breadcrumbs">
      <a href="./../index.html"> > Home > &nbsp;</a>
      <a href="./listado.html"> Participantes</a>
    </div>

    <section >
      <header class="row">
        <h3 class="col-12">
          Listado de participantes
        </h3>
      </header>
      <main class="row" style="margin: 0px; padding: 0px;">
        <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
            <div class="row d-flex flex-row-reverse">
              <img class="col-6 fotoArtista" src="./../recursos/img/artistas/albania_Singer.jpeg" alt="">
              <div class="col-6 ArtistaCancion">
                <p class="pais">Albania</p>
                <p class="representante">Todavia sin determinar</p>
                <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/albania.svg"></p>
              </div>
              
            </div>
        </article>

        <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
            <div class="row d-flex flex-row-reverse">
              <img class="col-6 fotoArtista" src="./../recursos/img/artistas/armenia_Singer.jpeg" alt="">
              <div class="col-6 ArtistaCancion">
                <p class="pais">Armania</p>
                <p class="representante">Todavia sin determinar</p>
                <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/armenia.svg"></p>
              </div>
              
            </div>
        </article>


        <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
            <div class="row d-flex flex-row-reverse">
              <img class="col-6 fotoArtista" src="./../recursos/img/artistas/australia_Singer.jpeg" alt="">
              <div class="col-6 ArtistaCancion">
                <p class="pais">Australia</p>
                <p class="representante">Montaigne</p>
                <p class="cancion">- Zero Gravity - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/australia.svg"></p>
              </div>
              
            </div>
        </article>


        <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
            <div class="row d-flex flex-row-reverse">
              <img class="col-6 fotoArtista" src="./../recursos/img/artistas/austria_Singer.jpeg" alt="">
              <div class="col-6 ArtistaCancion">
                <p class="pais">Austria</p>
                <p class="representante">Vincent Bueno</p>
                <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/austria.svg"></p>
              </div>
              
            </div>
        </article>

        <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
          <div class="row d-flex flex-row-reverse">
            <img class="col-6 fotoArtista" src="./../recursos/img/artistas/azerbaijan_Singer.jpeg" alt="">
            <div class="col-6 ArtistaCancion">
              <p class="pais">Azrebaijan</p>
              <p class="representante">Efendi</p>
              <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/azerbaijan.svg"></p>
            </div>
            
          </div>
      </article>

        <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
          <div class="row d-flex flex-row-reverse">
            <img class="col-6 fotoArtista" src="./../recursos/img/artistas/belarus_Singer.jpeg" alt="">
            <div class="col-6 ArtistaCancion">
              <p class="pais">Bielorusia</p>
              <p class="representante">Todavia sin determinar</p>
              <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/belarus.svg"></p>
            </div>
            
          </div>
      </article>


      <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
        <div class="row d-flex flex-row-reverse">
          <img class="col-6 fotoArtista" src="./../recursos/img/artistas/belgium_Singer.jpeg" alt="">
          <div class="col-6 ArtistaCancion">
            <p class="pais">Belgica</p>
            <p class="representante">Hooverphonic</p>
            <p class="cancion">- Rhythm Inside - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/belgium.svg"></p>
          </div>
          
        </div>
    </article>


    <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
      <div class="row d-flex flex-row-reverse">
        <img class="col-6 fotoArtista" src="./../recursos/img/artistas/bulgaria_Singer.jpeg" alt="">
        <div class="col-6 ArtistaCancion">
          <p class="pais">Bulgaria</p>
          <p class="representante">Victoria</p>
          <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/bulgaria.svg"></p>
        </div>
        
      </div>
  </article>


  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/croatia_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Croacia</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/croatia.svg"></p>
      </div>
      
    </div>
  </article>


  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/cyprus_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Chipre</p>
        <p class="representante">Elena Tsagrinou</p>
        <p class="cancion">- Fuego - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/cyprus.svg"></p>
      </div>
      
    </div>
  </article>


  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/czechRepublic_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Repuclica Checa</p>
        <p class="representante">Benny Cristo</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/czechRepublic.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/denmark_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Dinamarca</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/denmark.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/estonia_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Estonia</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/estonia.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/finland_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Finlandia</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/finland.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/france_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Francia</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/france.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/georgia_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Georgia</p>
        <p class="representante">Tornike Kipiani</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/georgia.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/germany_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Alemania</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/germany.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/greece_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Grecia</p>
        <p class="representante">Stefania</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/greece.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/iceland_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Islandia</p>
        <p class="representante">Daoi og Gagnamagnio</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/iceland.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/ireland_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Irlanda</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/ireland.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/israel_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Israel</p>
        <p class="representante">Eden Alene</p>
        <p class="cancion">- Toy boy - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/israel.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/italy_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Italia</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/italy.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/latvia_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Letonia</p>
        <p class="representante">Samanta Tina</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/latvia.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/lithuania_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Lituania</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/lithuania.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/malta_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Malta</p>
        <p class="representante">Destiny</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/malta.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/moldava_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Moldavia</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/moldava.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/northMacedonia_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Macedonia del Norte</p>
        <p class="representante">Destiny</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/northMacedonia.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/norway_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Noruega</p>
        <p class="representante">Keiino</p>
        <p class="cancion">- Spirit in the sky - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/norway.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/poland_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Polonia</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/poland.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/portugal_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Portugal</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/portugal.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/romania_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Rumania</p>
        <p class="representante">Roxen</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/romania.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/russia_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Rusia</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/russia.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/sanMarino_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">San Marino</p>
        <p class="representante">Senhit</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/sanMarino.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/serbia_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Serbia</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/serbia.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/slovenia_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Eslovenia</p>
        <p class="representante">Ana soklic</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/slovenia.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/spain_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">España</p>
        <p class="representante">Blas Cantó</p>
        <p class="cancion">- Universo - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/spain.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/sweeden_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Suecia</p>
        <p class="representante">Benjamin Ingrosso</p>
        <p class="cancion">- Dance You off - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/sweeden.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/switzerland_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Suiza</p>
        <p class="representante">Gjons's Tears</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/switzerland.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/theNetherlands_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Paises Bajos</p>
        <p class="representante">Jeangu Macrooy</p>
        <p class="cancion">- Arcade - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/theNetherlands.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/ukraine_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Ukrania</p>
        <p class="representante">Go_A</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/ukraine.svg"></p>
      </div>
      
    </div>
  </article>

  <article class="col-12 col-md-6 col-lg-4 cardListSinger" onclick="document.location.href='./detalle.html'">
    <div class="row d-flex flex-row-reverse">
      <img class="col-6 fotoArtista" src="./../recursos/img/artistas/unitedKingdom_Singer.jpeg" alt="">
      <div class="col-6 ArtistaCancion">
        <p class="pais">Reino Unido</p>
        <p class="representante">Todavia sin determinar</p>
        <p class="cancion">- Sin asignar - <img class="corazonBanderaList"  src="./../recursos/img/paises/corazones/unitedKingdom.svg"></p>
      </div>
      
    </div>
  </article>



      </main>


    </section>

    <footer class="footerDesktop">

      <a href="./../index.html">HOME</a>
      <a href="">Rotterdam 2021</a>
      <a href="">Política-web</a>
      <img class="footerLogo" src="./../recursos/img/logotipos/Logo_negro.png" alt="">
      <a href="./formulario.html">CONTACTO</a>
      <div>
          <img src="./../recursos/img/iconos/social_facebook.ico" alt="">
          <img src="./../recursos/img/iconos/social_instagram.ico" alt="">
          <img src="./../recursos/img/iconos/social_Twitter.ico" alt="">
          <img src="./../recursos/img/iconos/social_youtube.ico" alt="">
          <img src="./../recursos/img/iconos/social_googleplus.ico" alt="">
      </div>
      

  </footer>




      <link rel="stylesheet" href="ViewsStyle/viewsStyle.css">
</body>


</html>